<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>afakeman.cgi</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>-m</string>
        <string>http.server</string>
        <string>--cgi</string>
        <string>{{ cgi_port }}</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{ cgi_dir }}</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/cgi.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/cgi.log</string>
  </dict>
</plist>
