user  nobody;
worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;

    gzip  on;

    geo $is_remote {
        default      "remote";
        192.168.65.0/24 "local";
    }

    server {
        listen       80;
        server_name  localhost;

        location / {
            return 301 https://$host$request_uri$is_args$args;
        }

        # Let's Encrypt
        location /.well-known/ {
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    include conf.d/*;
}
